/* Color Scheme: https://coolors.co/9c89b8-f0a6ca-efc3e6-f0e6ef-b8bedd
*/

/* bootstrap icons */
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");


*{
    box-sizing: border-box;
}

html,body {
    margin: 0;
}

body{
    background-image: linear-gradient(to right top, #f0a6ca, #e0add7, #d0b3de, #c2b9e0, #b8bedd);
    color: white;
}

.title{
    color: white;
    user-select: none;
    font-family: 'Bebas Neue', cursive;
    margin-left: 0;
}

#rei{
    width: 15%;
    height: 15%;
    max-width: 50%;
    max-height: 50%;
}

.subtitle{
    font-style: italic;
    font-weight: normal;
    text-shadow: 5px 3px 3px rgba(0, 0, 0, 0.57);
}

.subhead{
    font-family: 'Fragment Mono', monospace;
    color: #F0E6EF;
    font-weight: bold;
}

#subhead{
    text-decoration: none;
    color: #F0E6EF; 
}

#subhead:hover{
    color: black;
    transition: 0.2s;
}


/* Search Bar */
#input{
    width: 64%;
    min-width: 64%;
    border: none;
    outline: none;
    border-bottom: 2px solid #f0d1ea; /*#B8BEDD;*/
    border-radius: 18px;
    caret-color: #9c89b8;
    font-family: 'Fragment Mono', monospace;
    color: #4a4a4a;
    padding: 10px;
}

#input::placeholder{
    color: #8b8b8b;
}

#search-btn{
    width: auto;
    height: 10%;
    background-color: white;
    border-radius: 18px;
    /* font-family: 'Fragment Mono', monospace; */
}

#search-btn:disabled{
    border-color: #cccc;
}

#search-btn:hover{
    background-color: #b8bedd;
    color: black;
    box-shadow: 0 0 4px 1px #f0d1ea;
    outline: none;
    border: none;
    transition: 0.3s;
}

/* Top Anime Button */
#topAnime-btn{
    outline: none;
    border: none;
    /* font-family: 'Comfortaa', cursive; */
    font-family: 'Montserrat', sans-serif;
    border-bottom: 2px solid #000;
    border-radius: 0;

}
#topAnime-btn:hover{
    background-color: transparent;
    border: 1px solid;
    border-color: #fff;
    color: white;
    transition: 0.5s;
    border-radius: 10px;
}

/* Div of Anime list */
.card{
    transition: all 0.5s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.card:hover {
    transform: scale(1.025);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 5px 10px;
    cursor: pointer;
}

#anime-wrapper{
    color: black;
    visibility: hidden;
}

#anime-info{
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 15px;
}

.anime-img, .anime-img2{
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

.anime-img2{
    border-radius: 10px;
    box-shadow: 10px 9px 15px -1px rgba(0,0,0,0.32);
}

@media only screen and (max-width: 768px) {
    .anime-img{
     height: 50vh;
    }
 }

/*no uses*/
.img-text{
    margin: auto;
    width: max-content;
    height: max-content;
    background-color: rgba(0, 0, 0, 0.6);
    color: #F0E6EF;
    font-family: 'Fragment Mono', monospace;
    transform: translate(0px, -200px);
    animation:img-text-fade 0.5s 1;
    -webkit-animation:img-text-fade 0.5s 1;
    animation-fill-mode: forwards;
    animation-delay:7s;
    -webkit-animation-delay:7s; /* Safari and Chrome */
    -webkit-animation-fill-mode: forwards;
    user-select: none;
    transition: 0.3s;
}

@keyframes img-text-fade {
    from {opacity :1;}
    to {opacity :0;}
}

@-webkit-keyframes img-text-fade{
    from {opacity :1;}
    to {opacity :0;}
}

.anime-img2{
    width: 60%;
    height: 60%;
}
/*-----*/

.anime-img:hover{
    cursor: pointer;
}

.anime-img:hover ~ .img-text{
    opacity: 0;
}


.btn-mal{
    background-image: url('../imgs/MyAnimeList_Logo.png');
    background-size: 55px;
    background-position: center center;
    
    border: none;
    border-radius: 10%;
    color: transparent;
    
}

.btn-mal:hover{
    color: transparent;
}

/* Pagination */

.pagination > li {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: #b8bedd;
}
.pagination > .active > a {
    color: black;
    background-color:#f0d1ea ;
    border-color: #f0d1ea;
    
}
.pagination > .active > a:hover{
    background-color: #f0d1ea ;
    color: black;
}

.page-link{
    color: black;
    background-color: #F0E6EF;
}

/* Search Results */
.results{
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
}

/*ANIME PAGE*/
.anime-title{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    color: #000;
}

.anime-title2{
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bolder;
    color: #000;
}

.j-title{
    font-family: 'Rampart One', cursive;
    color: #000;
}
.anime-subheader{
    color: #000;
    font-family: 'Bebas Neue', cursive;
    font-size: 28px;
    text-align: center;
}

.rank{
    font-family: 'Bebas Neue', cursive;
    margin-top: 50px;
    color: white;
}

.synop{
    font-family: 'Rubik', sans-serif;
    color: #000;
}
.readmore{
    background-color: #b8bedd;
    outline: none;
    border: none;
}
.readmore:hover{
    background-color: #9c89b8;
    color: white;
}
/* Credit Div*/
.credit{
    background-color: rgb(80, 66, 102, 0.1);
    height: 40vh;
    margin: 0;
    bottom: 0;
    overflow: hidden;
    max-height: 80vh;
}

@media only screen and (max-width: 600px) {
   .credit{
    height: 43vh;
    overflow: hidden;
   }
}

.git{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    color: white;
}

#git{
    filter: invert(100%);
    -webkit-filter: invert(100%);
    -moz-filter: invert(100%);
    transition: 0.2s;
}
#git:hover{
    filter: invert(1%);
    -webkit-filter: invert(1%);
    -moz-filter: invert(1%);
}

